@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
body {
  /* background-image: linear-gradient(to top right, #20dfcd, #ce1e2e); */
  background: #f4eded;
  height: 100vh;
  font-family: "Marcellus", serif;
  font-family: "Roboto Mono", monospace;
  color: #323535;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  background-color: #fff;
  padding: 25px;
  font-size: 14px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.main_header {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 0.9em;
  background: #ce1e2e;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 20px #000;
}
.sec_header h3 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}
.sec_header p {
  text-align: center;
  margin-bottom: 20px;
}
.login_box_container {
}
.login_box {
  background-color: transparent;
  border: 1px solid #323535;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 15px;
}
.login_box input {
  background-color: transparent;
  width: 100%;
  padding: 10px;
  padding-left: 40px;
  border: none;
  outline: none;
  color: #323535;
}
.login_box input::placeholder {
}
.login_btn {
  background-color: #ce1e2e;
  margin-bottom: 10px;
  font-size: 12px;
}
.login_btn:hover {
  background-color: #921520;
}
.forgort_ps {
}

.or {
  text-align: center;
  display: block;
  margin: 10px 0px;
}
.btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
}

.google_btn {
  background-color: #20dfcd;
  font-size: 12px;
  display: block;
  text-align: center;
  text-decoration: none;
  position: relative;
  margin-bottom: 10px;
}

.google_btn:hover {
  background-color: #169d8f;
}

.google_logo {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}


